*{
    box-sizing: border-box;
}

@font-face {
    font-family: Code Next;
    src : url('/font/CodeNext-ExtraBold.otf');
    src : url('/font/CodeNext-ExtraBoldItalic.otf');
    
    font-family: Century Gothic;
    src : url('/font/Century\ Gothic.ttf');
    src : url('/font/CenturyGothic.ttf');
    src : url('/font/GOTHIC.TTF');
    src : url('/font/GOTHICB.TTF');
    src : url('/font/GOTHICB0.TTF');
    src : url('/font/GOTHICI.TTF');
    src : url('/font/GOTHICBI.TTF');
}

html, body{
    background-color: #e6eced;
    padding-bottom: 0;
    margin : 0;
    height: 750px; 
    background-image: url('Hill_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar Content */
.navbar_content{
    z-index: 2;
    top : 0;
    width : 98%;
    margin : 15px 1% 0 1%;
    text-align: center;
    justify-content: center;
    position: fixed;
    padding : 10px;
    background-color: #6a84aa;
    overflow : hidden;
    border-radius: 20px;
}

.navbar_container_right a{
    float : left;
    padding : 8px;
    font-size: 18px;
    border-radius: 5px;
    margin : 0 5px;
}

.navbar_img{
    float : left;
    padding : 10px 8px 4px 8px;
    border-radius: 5px;
    margin : 0 5px;
}

.navbar_content a.active{
    background-color: #394d99;
}

.navbar_content a:hover{
    background-color: #1d2d77;
}

.navbar_container_right{
    float : right;
    margin : 14px auto;
}

.navbar_link{
    font-family: Code Next;
    text-decoration: none;
    color : white;
}

/* Header Content */
.header_container{
    height : 100%;
    width : 100%;
    padding : 140px 10% 40px;
	margin-bottom : 80px;
    display: flex;
    flex-wrap: wrap;
}

.header_intro{
    padding : 5%;
    text-align: center;
    justify-content: center;
    flex : 50%;
    max-width: 50%;
}

.header_intro h1{
    font-family: Code Next;
    color : white;
}

.header_intro h3{
    font-family : Century Gothic;
    color : white;
}

.header_form{
    padding : 5%;
    color : white;
    flex : 50%;
    max-width: 50%;
}

.header_form_container{
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.header_form h1{
    font-family : Code Next;
}

.header_form label{
    font-family : Century Gothic;
}

.header_form input{
    font-family : Century Gothic;
}

#header_form_name{
    margin-left: 150px;
    border-radius: 4px;
}

#header_form_email{
    margin-left: 157px;
    border-radius: 4px;
}

#header_form_phone{
    margin-left: 80px;
    border-radius: 4px;
}

#header_form_question{
    border-radius: 4px;
}

.header_form_button{
    width : 100px;
    height : 40px;
    font-size: 18px;
    border-radius: 10px;
}

#header_form_question{
    height: 70px;
    width : 350px;
    overflow : scroll;
}

/* Footer Content */
.footer_content{
    height : 300px;
    width : 100%;
    background-color: #36586b;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom : 0;
    overflow : hidden;
    
}

.footer_desc{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top : -15px;
    margin-bottom: -12px;
}

.footer_desc h2{
    font-size: 30px;
    margin : 10px auto;
}

.footer_desc p{
    width : 60%;
    margin: 15px 18%;
}

.footer_desc h2{
    font-family : Code Next;
    color: white;
}

.footer_desc p{
    font-family : Century Gothic;
    color: white;
}

.social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    padding : 0 5px;
}

.social_icon_item{
    list-style: none;
    height : 60px;
    padding-top: 8px;
}

.social_icon_item:hover{
    background-color: #123069;
    border-radius: 10px;
}

.social_icon_link{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin: 0 20px;
    display: inline-block;
}

@media screen and (max-width: 1100px) {
    body{
        height: 1000px;
    }
    
    .header_intro{
        flex: 100%;
        max-width: 100%;
    }

    .header_form{
        flex: 100%;
        max-width: 100%;
    }

    .header_container{
        padding-top: 150px;
    }
}

@media screen and (max-width: 600px) {
    html, body{
        padding-top: 30px;
        height: 1100px;
    }
    
    .navbar_content{
        float: none;
        display: block;
        text-align: left;
        width : 98%;
        margin: 7px 0 0 6px;
    }

    .navbar_img{
        width: 100%;
    }

    #navbar_logo{
        margin : 0 40% 17px 40%;
    }

    .navbar_container_right a{
        width: 25%;
        margin : 2px 0 0 0;
        text-align: center;
        font-size: 16px;
    }

    .navbar_container_right{
        width: 100%;
        margin: 2% 0 0 0;
    }

    .footer_content{
        height: 350px;
    }
    
}
